

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - LegoM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light justify-content-between">
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <p class="navbar-nav flex-grow-1 ml-5">Free delivery for orders over 50 BGN</p>

                <partial name="_LoginPartial" />


            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand mb-0 h5" asp-area="" asp-controller="Home" asp-action="Index">LEGO-M</a>
                <form method="get" class="form-inline">
                    <input name="SearchTerm" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button asp-controller="Products" asp-action="All" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg  justify-content-between navbar-light mb-3" style="background-color: #B0C4DE; ">
            <div class="col-md-2"></div>
            <ul class="navbar-nav flex-grow-1 ml-5">

                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="Games and toys"><h4>Games and toys</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="Books"><h4>Books</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="For the student"><h4>For the student</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="Sport"><h4>Sport</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="Gifts"><h4>Gifts</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All"><h4>All</h4></a>
                </li>
            </ul>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (this.TempData.ContainsKey(WebConstants.GlobalErrorMessageKey))
            {
                var errors = TempData[WebConstants.GlobalErrorMessageKey] as IEnumerable<string>;
               
                    @foreach (var errorMessage in errors)
                    {                      
                     <div class="alert alert-danger text-center" role="alert"><h5>@errorMessage</h5></div>
                    }
               
            }

            @if (this.TempData.ContainsKey(WebConstants.GlobalMessageKey))
            {
             <div class="alert alert-success text-center" role="alert"><h5>@this.TempData[WebConstants.GlobalMessageKey]</h5></div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer font-small mdb-color pt-4" style="background-color: #e8ecef">
        <div class="container text-center text-md-left">
            <div class="row ml-5">
                <div class="col-md-4">
                    <h4>Who are we</h4>
                    <h6 class="mb-2" style="word-wrap: break-word">LegoM-online store for orders from Bulgaria.Store in Momchilgrad</h6>
                </div>
                <div class="col-md-4">
                    <h4>Working time</h4>
                    <h6 class="mb-2">Monday-Saturday</h6>
                    <h6 class="mb-2">09:00 - 20:00</h6>
                    <h6 class="mb-2">Sunday : Rest day</h6>
                </div>
                <div class="col-md-4">
                    <h4 class="mb-2">Contact</h4>
                    <h6 class="mb-2"><i class="fas fa-home"></i> Momchilgrad,Bulgaria</h6>
                    <h6 class="mb-2"><i class="fas fa-envelope"></i> info@legoM.com</h6>
                    <h6 class="mb-2"><i class="fas fa-phone-alt"></i> + 000 000 000 000</h6>
                </div>
            </div>
            <div class="text-center text-md-right mt-5">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/mert.tuncay.37" class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/mert-kadir-050a26206/" class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <h5 class="ml-5">Copyright &copy; LegoM - @DateTime.UtcNow.Year</h5>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
