

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - LegoM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light justify-content-between">
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <p class="navbar-nav flex-grow-1 ml-5">Free delivery for orders over 50 BGN</p>

                <partial name="_LoginPartial" />


            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand mb-0 h5" asp-area="" asp-controller="Home" asp-action="Index">LEGO-M</a>
                <form method="get" class="form-inline">
                    <input name="SearchTerm" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button asp-controller="Products" asp-action="All" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg  justify-content-between navbar-light mb-3" style="background-color: #B0C4DE; ">
            <div class="col-md-2"></div>
            <ul class="navbar-nav flex-grow-1 ml-5">

                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="Игри и играчки"><h4>Игри и играчки</h4></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="За ученика"><h4>За ученика</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="Спорт"><h4>Спорт</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All" asp-route-category="Подаръци"><h4>Подаръци</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ml-5" asp-area="" asp-controller="Products" asp-action="All"><h4>Всички</h4></a>
                </li>
            </ul>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (this.TempData.ContainsKey(WebConstants.GlobalErrorMessageKey))
            {
                var errors = TempData[WebConstants.GlobalErrorMessageKey] as IEnumerable<string>;
               
                    @foreach (var errorMessage in errors)
                    {                      
                     <div class="alert alert-danger text-center" role="alert"><h5>@errorMessage</h5></div>
                    }
               
            }

            @if (this.TempData.ContainsKey(WebConstants.GlobalMessageKey))
            {
             <div class="alert alert-success text-center" role="alert"><h5>@this.TempData[WebConstants.GlobalMessageKey]</h5></div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - LegoM 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
