@model IEnumerable<ReportServiceModel>

@foreach (var report in Model)
{

    <div class="row mt-5 mb-5">
        <div class="col-md-2 mt-3 ">
            <h5>@report.UserName</h5>
            <span>@report.PublishedOn</span>
        </div>
        <div class="col-md-8 ml-5">
            <h3>@report.ReportType</h3>
            <p style="word-wrap: break-word">@report.Content</p>
        </div>
        <div class="col-md-2">
            <a asp-controller="Reports" asp-action="Delete" asp-route-id="@report.Id">Delete</a>
        </div>
    </div>

    <hr />
}