@model IEnumerable<ProductServiceModel> 

@{ 
    var isDeleted = ViewBag.IsDeleted ?? false;
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            @if (isDeleted)
            {
              <th scope="col">Deleted</th>
            }
            else
            {
                <th scope="col">Published</th>
            }

            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Condition</th>
            @if (!isDeleted)
            {
                <th scope="col">Approved</th>
            }
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td scope="col">@(product.DeletedOn != string.Empty ? product.DeletedOn : product.PublishedOn )</td>
            <td scope="col">@product.Title</td>
            <td scope="col">@product.Price</td>
            <td scope="col">@product.Condition</td>
            @if (!isDeleted)
            {
                <td scope="col">@(product.IsPublic ? "Yes":"No")</td>

            }



        <td scope="col">
            <a asp-area="" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger float-right ml-1">Delete</a>
            <a asp-controller="Products" asp-action="Reports" asp-route-id="@product.Id" class="btn btn-dark float-right ml-1">Reports</a>
            <a asp-area="" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning float-right ml-1">Edit</a>
            <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary float-right ml-1">Details</a>

            @if (isDeleted)
            {
                <a asp-area="Admin" asp-controller="Products" asp-action="Revive" asp-route-id="@product.Id" class="btn btn-info float-right ml-1">Revive</a>
            }
            else
            {
                <a asp-controller="Products" asp-action="ChangeVisibility" asp-route-id="@product.Id" class="btn btn-info float-right ml-1 ">@(product.IsPublic ? "Hide": "Show")</a>
            }

        </td>
            </tr>
        }
    </tbody>
</table>