@model ProductsQueryModel


@{
    ViewBag.Title = "Existing Products Administration";
}

<h1 class="text-center mt-2 mb-3">@ViewBag.Title</h1>


@if (@Model.SearchTerm != null)
{
    <h2>You have searched - @Model.SearchTerm</h2>
    <h2>Result : @Model.Products.Count()</h2>

}


<form method="get">

    <div class="row mb-3">

        <div class="form-group col-md-2">
            <label asp-for="Category"></label>
            <select asp-for="Category" id="selectcat" class="form-control">
                <option value="" class="rhth">All</option>
                @foreach (var productCategory in Model.Categories)
                {
                    <option class="@productCategory.Id" value="@productCategory.Name">@productCategory.Name</option>
                }
            </select>
            <span asp-validation-for="Category" class="small text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="SubCategory"></label>
            <select asp-for="SubCategory" id="selectprod" class="form-control">
                <option value="" class="rhth23">All</option>
                @foreach (var productSubCategory in Model.SubCategories)
                {
                    <option value="@productSubCategory.Name" class="selectors @productSubCategory.CategoryId">@productSubCategory.Name</option>
                }

            </select>
            <span asp-validation-for="SubCategory" class="small text-danger"></span>
        </div>


        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="ProductSorting"></label>
                <select asp-for="ProductSorting" class="form-control" asp-items="Html.GetEnumSelectList<ProductSorting>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="ProductSorting" class="small text-danger"></span>
            </div>

        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control">
                <span asp-validation-for="SearchTerm" class="small text-danger"></span>
            </div>
        </div>

    </div>

</form>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Condition</th>
            <th scope="col">Approved</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td scope="col">@product.PublishedOn</td>
                <td scope="col">@product.Title</td>
                <td scope="col">@product.Price</td>
                <td scope="col">@product.Condition</td>
                <td scope="col">@(product.IsPublic ? "Yes":"No")</td>


                <td scope="col">
                    <a asp-area="" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger float-right ml-3">Delete</a>
                    <a asp-area="" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning float-right ml-3">Edit</a>
                    <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary float-right ml-3">Details</a>
                    <a asp-controller="Products" asp-action="ChangeVisibility" asp-route-id="@product.Id" class="btn btn-info float-right ml-3 ">@(product.IsPublic ? "Hide": "Show")</a>

                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalProducts / ProductsQueryModel.ProductsPerPage);
}

<div class="row mt-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage==1 ? "disabled":string.Empty)"
           asp-controller="Products"
           asp-action="Existing"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-productSorting="@Model.ProductSorting"
           asp-route-currentPage="@previousPage"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage==maxPage || !Model.Products.Any()  ? "disabled" : string.Empty)"
           asp-controller="Products"
           asp-action="Existing"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-productSorting="@Model.ProductSorting"
           asp-route-currentPage="@(Model.CurrentPage+1)">>></a>
    </div>
</div>

@section Scripts {



    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"
            integrity="sha256-BDmtN+79VRrkfamzD16UnAoJP8zMitAz093tvZATdiE="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var allOptions = $('#selectprod option')
            $('#selectcat').change(function () {
                $('#selectprod option').remove()
                var classN = $('#selectcat option:selected').prop('class');
                var opts = allOptions.filter('.' + classN);
                $.each(opts, function (i, j) {
                    $(j).appendTo('#selectprod');
                });
            });
        });



    </script>
}