@model ProductReportsDetailsModel

@{ 
    ViewBag.Title = "Product Reports";
}

<h1 class="text-center mb-5 mt-5">@ViewBag.Title</h1>


<div class="row mb-3">
    <div class="col-md-3">
        <img src="@Model.Product.Image" alt="@Model.Product.Title" class="img-thumbnail">

    </div>
    <div class="col-md-4">
        <h4>Reports for :</h4>
        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Product.Id"><h5>@Model.Product.Title</h5></a>
    </div>
    <div class="col-md-2">
        <h3>@(Model.Product.Price+" лв.")</h3>

    </div>
    

</div>

<hr />

<partial name="_ProductReportsPartial" model="@Model.Reports">
