@model IEnumerable<ReviewListingServiceModel>

@{
    ViewBag.Title = "My Reviews";
}

<h1 class="text-center">@ViewBag.Title</h1>

<div class="mb-5"></div>

<hr />

@foreach (var review in Model)
{
    <div class="row mt-5">
        <div class="col m-md-2">
            <img src="@review.ProductImage" alt="@review.ProductTitle" class="img-thumbnail">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@review.ProductId"><span>@review.ProductTitle</span></a>
        </div>
        <div class="col-md-4 ml-5">
            <span>@review.PublishedOn</span>
            <h3>@review.Title</h3>
            <h5>Rating: @review.Rating </h5>
            <p>@review.Content</p>
        </div>
        <div class="col-md-4 mt-3">
            <a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id" asp-route-information="@(review.GetInformation())" class="btn btn-primary">Details</a>
            <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-warning">Edit</a>
            <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger">Delete</a>
        </div>

    </div>

    <hr />

}
