@model IEnumerable<ProductServiceModel>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3">
                <img class="card-img-top" src="@product.MainImageUrl" alt="@product.Condition @product.Title ">
                <div class="card-body text-center">
                    <p class="card-text">@product.Condition</p>
                    <h5 class="card-title">@product.Title</h5>
                    <p class="card-text">@product.Price</p>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                    @if (ViewBag.AllowProductEdit == true || this.User.IsAdmin())
                    {
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>

                    }
                </div>
            </div>

        </div>

    }
</div>

