@model IEnumerable<ReviewServiceModel>

@foreach (var review in Model)
{

    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <h5>@review.UserName</h5>
            <span>@review.PublishedOn</span>
        </div>
        <div class="col-md-6">
            <a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id" asp-route-information="@(review.GetInformation())"><h3>@review.Title</h3></a>
            <p>@(new string(review.Content.Take(20).ToArray()))</p>
            <div class="mt-3"></div>
            <a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id" asp-route-information="@(review.GetInformation())"><span>Comments (@review.TotalComments)</span></a>
            <a asp-controller="Comments" asp-action="Add" asp-route-id="@review.Id" asp-route-information="@(review.GetInformation())" class="ml-3">Add Comment</a>
        </div>
        @if (this.User.IsAdmin())
        {
            <div class="col-md-2">
                <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger">Delete</a>
            </div>
        }
    </div>

    <hr />

}