@model ProductDetailsModel


<partial name="_ProductDetailsPartial" model="@Model.Product" />

<hr />

<h2 class="mb-5">Similar Products:</h2>

<partial name="_ProductsPartial" model="@Model.SimilarProducts" />

<a asp-action="All" asp-route-category="@Model.Product.CategoryName" asp-route-subCategory="@Model.Product.SubCategoryName" class=" offset-5 btn btn-primary">More similar products</a>

<div class="mb-5"></div>

<hr />

<h4>Reviews :</h4>
<div class="row">
    @if (!Model.Reviews.Any())
    {
        <div class="col-md-6 mt-3 mb-3">
            <h3>Be the first to write a review</h3>

        </div>
        <div class="col-md-6">
            <a asp-controller="Reviews" asp-action="Add" asp-route-Id="@Model.Product.Id" class="btn btn-outline-primary ml-5"><h4>Add Review</h4></a>

        </div>
    }
    else
    {

        <div class="col-md-2 mt-5 mr-4">
            <h3>@Model.ProductReviewsStatistics.Rating </h3>
            <h6>(@Model.ProductReviewsStatistics.TotalReviews)</h6>
        </div>
        <div class="col-md-4">
            <h5>5 stars : (@Model.ProductReviewsStatistics.FiveStarRatings)</h5>
            <h5>4 stars : (@Model.ProductReviewsStatistics.FourStarRatings)</h5>
            <h5>3 stars : (@Model.ProductReviewsStatistics.ThreeStarRatings)</h5>
            <h5>2 stars : (@Model.ProductReviewsStatistics.TwoStarRatings)</h5>
            <h5>1 stars :(@Model.ProductReviewsStatistics.OneStarRatings)</h5>
        </div>
        <div class="col-md-4">
            <h2 class="mb-3">You have product or used it ?</h2>
            <a asp-controller="Reviews" asp-action="Add" asp-route-Id="@Model.Product.Id" class="btn btn-outline-primary">Add Review</a>

        </div>
    }






</div>

<div class="mt-5"></div>

<hr />

<div>
    @foreach (var review in Model.Reviews)
    {

        <div class="row mt-3">
            <div class="col-md-4">
                <h5>@review.UserName</h5>
                <span>@review.PublishedOn</span>
            </div>
            <div class="col-md-4">
                <a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id" asp-route-information="@(review.GetInformation())"><h3>@review.Title</h3></a>
                <span>@review.Content</span>
            </div>
        </div>

        <hr />

    }

</div>

<h3>Questions and answers by clients (@Model.Questions.Count())</h3>
<div class="row mb-5 mt-5">
    <div class="col-md-6">

        @if (!Model.Questions.Any())
        {
            <h3>Be the first to write a Question</h3>
        }

    </div>
   <div class="col-md-6">
    <a asp-controller="Questions" asp-action="Add" asp-route-Id="@Model.Product.Id" class="btn btn-outline-primary ml-5"><h4>Add Question</h4></a>

   </div>

</div>

<hr />

<div>
    @foreach (var question in Model.Questions)
    {

        <div class="row mt-3">
            <div class="col-md-2">
                <h5>@question.UserName</h5>
                <span>@question.PublishedOn</span>
            </div>
            <div class="col-md-4 mt-2">
                <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.Id" asp-route-information="@(question.GetInformation())"><h5>@question.Content</h5></a>
            </div>
        </div>

        <hr />

    }

</div>