@model ProductDetailsAndSimilarProductsServiceModel


@{
    var images = new List<string>() { Model.Product.MainImageUrl, Model.Product.SecondImageUrl, Model.Product.ThirdImageUrl  };

    var isProductAvailable = Model.Product.Quantity > 0;
}
<h1>@Model.Product.Title, @Model.Product.Condition</h1>

<div class="row mb-5">
    <div class="col-md-4">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                @for (int i = 0; i < images.Count; i++)
                {
                    var product = images[i];

                    <div class="carousel-item @(i==0 ? "active" : string.Empty)">
                        <img class="d-block w-100 mb-5" src="@product" alt="@Model.Product.Title">
                    </div>


                }


            </div>
            <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="col-md-4 offset-2 mt-5">
        <h5>Category : <a asp-action="All" asp-route-category="@Model.Product.CategoryName">@Model.Product.CategoryName</a></h5>
        <h5 class="mb-3">SubCategory : <a asp-action="All" asp-route-category="@Model.Product.CategoryName" asp-route-subCategory="@Model.Product.SubCategoryName">@Model.Product.SubCategoryName</a></h5>
        <h5 class="btn btn-warning">Shipment inspection</h5>
        <div class="mb-3"></div>
        <h5 class="btn btn-outline-@(isProductAvailable ? "primary":"danger")">@(isProductAvailable ? "Available": "Exhausted") </h5>



    </div>
    <div class="mb-5"></div>

    <div class="col-md-2 float-right mt-5">
        <h2 class="mb-3">@(Model.Product.Price+ " лв.")</h2>
        <a asp-controller="Products" asp-action="Favourites" asp-route-id="@Model.Product.Id" class="btn btn-outline-danger">Add To Favourites</a>
        <div class="mb-3"></div>
        <a asp-controller="Products" asp-action="Favourites" asp-route-id="@Model.Product.Id" class="btn btn-info mr-3">Add To Shopping Bag</a>

    </div>

</div>

<h1>Description</h1>
<h2 class="mb-5">@Model.Product.Description</h2>



<h2 class="mb-5">Similar Products:</h2>

<partial name="_ProductsPartial" model="@Model.SimilarProducts" />

<a asp-action="All" asp-route-category="@Model.Product.CategoryName" asp-route-subCategory="@Model.Product.SubCategoryName"  class=" offset-5 btn btn-primary">More similar products</a>


