@model CartItemServiceModel

@{
    ViewBag.Title = "Edit CartItem Quantity";

    var productQuantityList = Enumerable.Range(1, Model.ProductQuantity).ToList();
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 ofset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <form method="post">                 
                <div class="form-group">
                    <label asp-for="@Model.Quantity"></label>
                    <select asp-for="@Model.Quantity" class="form-control">

                        @foreach (var quantity in productQuantityList)
                        {
                            <option value="@quantity">@quantity</option>
                        }
                    </select>
                  </div>
            <input class="btn btn-primary float-right" type="submit" value="Save" />
        </form>
        </div>
    </div>
