@model List<ShoppingCartItemServiceModel>

@{
    ViewBag.Title = "Shopping Cart";

    var total = Model.Sum(x => x.Price).ToString("F2");
}

@if (!Model.Any())
{

    <div class="row">
        <div class="col-sm-12 offset-lg-3 col-lg-8 ofset-xl-3 col-xl-6 mt-3">

            <h2>Your Shopping Cart is empty</h2>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3 offset-4">Go to Home Page </a>

        </div>
    </div>

}
else
{

    <h1 class="text-center mb-3 mt-3">@ViewBag.Title</h1>

    <div class="row">

        <div class="col md-4 mt-3">
            <h1>Order information</h1>
            <h3>Total :</h3>
            <h2>@total лв.</h2>
            <a asp-controller="Orders" asp-action="Add" class="btn btn-primary mt-2">Continue</a>
        </div>
    </div>

    <hr />

    @foreach (var cartItem in Model)
    {

        var isProductAvailable = cartItem.ProductQuantity > 0;
        var productQuantityList = Enumerable.Range(1, cartItem.ProductQuantity).ToList();



        <div class="row mt-5">
            <div class="col m-md-2">
                <img src="@cartItem.ImageUrl" alt="@cartItem.ProductTitle" class="img-thumbnail">

            </div>
            <div class="col-md-6 ml-5">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@cartItem.ProductId"><h3 class="mt-3">@cartItem.ProductTitle</h3></a>
                <h5 class="mt-3">Condition: @cartItem.ProductCondition</h5>
                <h5>Delivery: @cartItem.ProductDelivery</h5>
                @if (isProductAvailable)
                {
                    <div class="row mb-5">
                        <div class="form-group col-md-3 ml-10">
                            <label asp-for="@cartItem.Quantity"></label>
                            <select asp-for="@cartItem.Quantity" class="form-control">

                                @foreach (var quantity in productQuantityList)
                                {
                                    <option value="@quantity">@quantity</option>
                                }
                            </select>
                            <a asp-action="Edit" asp-route-Id="@cartItem.Id">Edit</a>
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-2 mt-5">
                <h5 class="btn btn-outline-@(isProductAvailable ? "primary":"danger")">@(isProductAvailable ? "Available": "Exhausted")</h5>
                <h3>@(cartItem.Price.ToString("F2") + " лв.")</h3>
                <a asp-controller="Favourites" asp-action="Add" asp-route-id="@cartItem.ProductId" class="btn btn-danger mt-2">Add To Favourites</a>
                <hr />
                <a asp-controller="ShoppingCart" asp-action="Delete" asp-route-id="@cartItem.Id">Delete</a>
            </div>

        </div>


        <hr />

    }


}



