@model QuestionDetailsWithAnswersModel

@{ 
    ViewBag.Title = "Question Details";
}


<div class="row mb-3 mt-5">
    <div class="col-md-3">
        <img src="@Model.Question.ProductImage" alt="@Model.Question.ProductTitle" class="img-thumbnail">

    </div>
    <div class="col-md-4">
        <h4>Question for :</h4>
        <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Question.ProductId"><h5>@Model.Question.ProductTitle</h5></a>
    </div>
    <div class="col-md-2">
        <h3>@(Model.Question.ProductPrice+" лв.")</h3>

    </div>
    <div class="col-md-2">
        <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Question.ProductId" asp-route-information="@Model.Question.GetInformation()" class="btn btn-outline-info">See more</a>
    </div>

</div>

<hr />

<div class="row mt-5 mb-5">
    <div class="col-md-2">
        <h5>@Model.Question.UserName</h5>
        <span>@Model.Question.PublishedOn</span>
    </div>
    <div class="col-md-8 ml-5">
        <p style="word-wrap: break-word">@Model.Question.Content</p>
        <a asp-controller="Answers" asp-action="Add" asp-route-id="@Model.Question.Id" asp-route-information="@(Model.Question.GetInformation())" class="mt-3">Add Answer</a>
    </div>
    @if (this.User.IsAdmin())
    {
        <div class="col-md-2">
        <a asp-controller="Questions" asp-action="Delete" asp-route-id="@Model.Question.Id">Delete</a>
        </div>

    }

</div>

<hr class="ml-5" />

@foreach (var answer in Model.Answers)
{
    <div class="row ml-5 mt-5 mb-5">
        <div class="col-md-2">
            <h5>@answer.UserName</h5>
            <span>@answer.PublishedOn</span>
        </div>
        <div class="col-md-8 ml-5">
            <p style="word-wrap: break-word">@answer.Content</p>
        </div>
        @if (this.User.IsAdmin())
        {
         <div class="col-md-2">
             <a asp-area="Admin" asp-controller="Answers" asp-action="Delete" asp-route-id="@answer.Id" >Delete</a>
         </div>
        }
    </div>

    <hr class="ml-5" />
}
