@model OrderDetailsModel

@{
    ViewBag.Title = "Order Details";

   ViewBag.IsAccomplished = Model.Order.IsAccomplished;
}



<h1 class="text-center mb-3 mt-3">@ViewBag.Title</h1>

<div class="row">

    <div class="col md-4">
        <div class="form-inline">
            <h4>Nº</h4>
            <h3 class="ml-2">@Model.Order.Id</h3>
        </div>
        <div class="form-inline">
            <h4>Full Name :</h4>
            <h4 class="ml-2">@Model.Order.FullName</h4>
        </div>

        <div class="form-inline mt-3">
            <h4>Phone Number :</h4>
            <h4 class="ml-2">@Model.Order.PhoneNumber</h4>
        </div>

        <div class="form-inline mt-3">
            <h4>State :</h4>
            <h4 class="ml-2">@Model.Order.State</h4>
        </div>

        <div class="form-inline mt-3">
            <h4>City :</h4>
            <h4 class="ml-2">@Model.Order.City</h4>
        </div>
    </div>
    <div class="col md-4">

        <div class="form-inline">
            <h4>Ordered On :</h4>
            <h4 class="ml-2">@Model.Order.OrderedOn</h4>
        </div>

        <div class="form-inline mt-3">
            <h4>Address :</h4>
            <h5 class="ml-2">@Model.Order.Address</h5>
        </div>

        <div class="form-inline mt-3">
            <h4>Zip Code :</h4>
            <h4 class="ml-2">@Model.Order.ZipCode</h4>
        </div>

    </div>

    <div class="col md-4">
        <div class="form-inline">
            <h3>Total :</h3>
            <h1 class="ml-3">@Model.Order.TotalAmount лв.</h1>
        </div>

        <div class="form-inline mt-3 mb-3">
            <h4>Total Ordered Items :</h4>
            <h4 class="ml-2">@Model.Order.OrderedItems</h4>
        </div>
        @if (ViewBag.IsAccomplished)
        {
            <a asp-action="Cancel" asp-route-id="@Model.Order.Id" class="btn btn-dark ">Cancel</a>
        }
        else
        {
            <a asp-action="Accomplish" asp-route-id="@Model.Order.Id" class="btn btn-success ">Accomplish</a>
        }
        <a asp-action="Delete" asp-route-id="@Model.Order.Id" class="btn btn-danger ">Delete</a>
    </div>

</div>

<hr />

<partial name="_OrderItemsPartial" model="@Model.OrderItems">



